<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="col-md-4">

  <div class="form-inputs">
    <%= f.input :title, input_html: { class: 'form-control'}, placeholder: "Frontend Developer", wrapper: false,
    label_html: { class: 'label'} %>
    <%= f.input :apply_url, input_html: { class: 'form-control'}, wrapper: false,
    label_html: { class: 'label'} %>
    <%= f.input :job_type, collection: Job::JOB_TYPES, prompt: "Select a job type" %>
    <%= f.input :location, require: true, input_html: { class: "form-control" }, wrapper: false, label_html: { class: "label" }, hint: 'Examples: "San Francisco, CA", "Seattle", "Anywhere"' %>
    <%= f.input :remote_ok, input_html: { class: 'checkbox'}, wrapper: false,
    label_html: { class: 'label'} %>

    <%= f.input :description, input_html: { class: 'form-control'}, wrapper: false,
    label_html: { class: 'label'} %>
  
    <%= f.input :job_author, input_html: { class: 'form-control'}, wrapper: false,
    label_html: { class: 'label'} %>
    <%= f.input :url, input_html: { class: 'form-control'}, label: "Company Website", placeholder: "http://company.com", wrapper: false,
    label_html: { class: 'label'} %>
    
    <div class="columns">
      <div class="field column is-4">
        <div class="control">
          <label class="label">Logo Image</label>
          <div class="file">
            <label class="file-label">
              <%= f.input :avatar, as: :file, required: false, input_html: { class:"file-input job-avatar" }, label: false, wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                  <span class="file-label">Choose a file…</span>
                </span>
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <output id="list"></output>
      </div>
    </div>

   <%= render 'payment' %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
</div>
<h1>Star Wars</h1>
<% end %>