<nav class="panel">
  <p class="lead font-italic filter">filter by job type</p>

  <ul class="mb3 pa0">
    
      <%= link_to 'All', jobs_path, class: "btn btn-primary all" %>

      <%= link_to 'Full-time', jobs_path(job_type: "Full-time"), class: "btn btn-secondary all" %>
    
      <%= link_to 'Part-time', jobs_path(job_type: "Part-time"), class: "btn btn-success all" %>

      <%= link_to 'Freelance', jobs_path(job_type: "Freelance"), class: "btn btn-info all" %>

      <%= link_to 'Contract', jobs_path(job_type: "Contract"), class: "btn btn-warning all" %>
    
  </ul>
</nav>